table{
    font-size: 14px;
    width: 100%;
    th {
        padding: 1rem 0;
        text-align: inherit;
      }
      td {
        padding: 1rem 0;
        border-bottom: 0.8px solid #d2d2d8;
      }
      .address{
          @extend .flex-ac;
          gap: 1rem;
      }
      .green-text{
          color: rgb(6, 138, 6);
      }
      .flip-btn{
          color: #1D9BF0;
          border: 1px solid #d2d2d8;
          border-radius: 4px;
          width: 100%;
          height: 30px;
      }
}